<div class="contianer">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
          <span class="icon-bar"></span>
 	  <span class="icon-bar"></span>  
	</button>
	<a class="navbar-brand" href="#">Find a Translator</a> 
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-center" style="margin:0 auto;display:inline;float:none">
	  <li class="active"><a href="#/find">Search</a></li>
	  <li><a href="#/find">Friends</a></li>
	  <li><a href="#/find">Settings</a></li>
	</ul>
      </div>
      </div>
    </div>
  </div>
  <form name="findForm" id="findForm">
  <div class='form-group'>
    <input type="text" name="language1" id="language1" class="form-control" placeholder="Language 1" ng-model="language1"> 
  </div>
  <div class="form-group">
    <input type="text" name="language2" id="language2" class="form-control" placeholder="Language 2" ng-model="language2">
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-click="getTranslators()">Find translators!</button>
  </div>
  </div>
  </form>
  <div id="results" ng-if="translators">
    <ul>
	    <li ng-repeat="translator in translators">{{translator.name}} | {{translator.location}} | <a href="#/find"><div class="glyphicon glyphicon-phone-alt"></div></a> <a href="#/find"><div class="glyphicon glyphicon-envelope"></div></a><a href="#/find"><div class="glyphicon glyphicon-user"></div></a></li>
    </ul>
  </div>
</div>
