    <div ng-controller="LoginCtrl" class="container">
      <form class="form-horizontal" name="loginForm" novalidate>
         <div class="form-group">
  	   <label for="name">Username:</label>
	   <input type="text" name="name" id="name" class="form-control" ng-model="name" required ng-minlength="3">
           <p ng-show="payForm.name.$invalid" class="help-block">Username must be at least 3 letters</p>
	 </div>
         <div class="form-group" ng-class="{'has-error':payForm.email.$invalid}">
           <label for="email">Email:</label>
           <input type="email" name="email" id="email" class="form-control" ng-model="email">
         </div>
         <div class="form-group">
           <label for="password">Password:</label>
     	   <input type="password" name="password" id="password" class="form-control" ng-model="password" required>
         </div>
         <div class="form-group">
	   <label for="confirm">Re-enter Password: </label>
	   <input type="password" name="confirmPass" id="confirm" class="form-control" ng-model="confirmPass">
         </div>
	 <div class="form-group">
	   <input type="checkbox" name="translator" id="translator" ng-model="translator" class="checkbox-inline checkbox-primary">
	   <label for="translator">I want to be a translator</label> 
	 </div>
	 <button type="submit" class="btn btn-primary" ng-submit="submitForm()">Submit</button>
       </form>
    </div>

